@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100vh;
}	

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	@extend %font-bold;
	font-size: 48px;
}

h2 {
	@extend %font-bold;
	font-size: 36px;
	@include mq('tablet') {
		font-size: 30px;
	}
}

h3 {
	@extend %font-bold;
	font-size: 24px;
}

h4 {
	@extend %font-normal;
	font-size: 18px;
}

.cursor-pointer {
	cursor: pointer;
}

.absolute-center {
  position: absolute;
  left: calc(50% - 20px);
  top: 50%;
}

.error-message {
	font-size: 0.875rem;
	color: $color-warning;
}